body,ul,li{
    margin:0;
    padding:0;
    list-style: none;
}
.outbox{
    width: 1200px;
    height: 180px;
    position: relative;
    margin: 86px auto;
}
.bigbox{
    width:1170px;
    height: 160px;
    border-top: 10px solid #dfdfdf;
    border-bottom: 10px solid #dfdfdf;
    border-left: 15px solid #dfdfdf;
    border-right: 15px solid #dfdfdf;
    background-color: #dfdfdf;
    overflow: hidden;
}
.box{
    width: 285px;
    height: 160px;
    margin-right: 10px;
    float: left;
    position: relative;
}
.innerbox{
    width: 2360px;
    height: 260px;
}
.box>img{
    width: 100%;
    height: 100%;
}
.btn{
    width: 28px;
    height: 36px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:50%;
    margin-top: -18px;
    text-align: center;
    line-height: 35px;
    font-size: 24px;
    font-weight: bolder;
    z-index: 100;
    color: #ffffff;
    cursor: pointer;
}
.leftbtn{
    left: 0;
}
.rightbtn{
    right: 0;
}




