body,ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .bigbox{
        width: 740px;
        height: 350px;
        margin: 100px auto;
        border:10px solid #ccc;
        position: relative;
    }
    .box{
        position: absolute;
        z-index: 0;
    }
    .one{
        z-index: 1;
    }
    .btnbox{
        position: absolute;
        width:240px;
        height: 20px;
        left: 50%;
        margin-left: -120px;
        bottom: 20px;
        z-index: 100;
    }
    .btn{
        width: 20px;
        height: 20px;margin-right: 20px;
        border-radius: 50%;
        background-color: #000;
        float: left;
    }
    .first{
        background-color: orange;
    }
    .btns{
        width:40px;
        height:80px;
        background-color: rgba(0,0,0,0.5);
        color:#fff;
        top:50%;
        margin-top: -40px;
        font-size: 48px;
        font-weight: bolder;
        position: absolute;
        z-index: 101;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
        opacity: 0;
    }
    .leftbtn{
        left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .rightbtn{
        right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }