<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <p>a-新值：{{a}}</p>
    <p>a-旧值：{{old_a}}</p>
    <input type="text" v-model="a">
    <br>
    <button v-on:click="add">点击+1</button>
    <p>a*4：{{js}}</p>
    <p>{{msg|zh}}</p>
    <input type="text" v-model="msg">
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            a: 1,
            old_a: "",
            msg: "hello,world"
        },
        methods: {
            add: function () {
                this.a++
            }
        },
        watch: {
           a(new_a, old_a) {
                this.old_a = old_a
            }
        },
        filters: {
            zh: function (val) {
                if (!val) {
                    return
                }
                val = val.toString();
                return val.toUpperCase()
            }
        },
        computed: {
            js: function () {
                return this.a * 4
            }
        }
    })
    //    computed 计算
    //    filters  过滤
    //    watch    监听
    //    methods  方法
</script>
</html>
