<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指令</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app" v-show="true">
    <p v-text="msg"></p>
    <input type="text" v-model="msg">
    <br>
    <button v-on:click="add">添加</button>
    <ul>
        <li v-for="(item,index) in animal" :key="index">
            <span>{{item}}</span>
        </li>
    </ul>
    <button @click="hidden">消失</button>
    <br>
    <img v-bind:src="cat" alt="" v-show="show">
</div>
</body>
<script>
    //Vue.config.silent = true;
    //移除报错提示
    let app = new Vue({
        el: "#app",
        data: {
            msg: "hello,world",
            animal: ["萨摩", "哈士奇", "拉布拉多"],
            show: true,
            cat: "img/cat.jpg"
        },
        methods: {
            add: function () {
                if (!this.animal.includes('牧羊犬')) {
                    this.animal.push("牧羊犬")
                }
            },
            hidden: function () {
                this.show ? this.show = false : this.show = true
            }
        }
    });
</script>
</html>
