<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指令</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <p v-text="msg"></p>
    <input type="text" v-model="msg">
    <br>
    <button @click="add">添加</button>
    <ul>
        <li v-for="(item,index) in animal" :key="index">{{item}}</li>
    </ul>
    <button @click="hide">消失</button>
    <br>
    <img :src="url" v-show="show">
</div>
</body>
<script>
    //Vue.config.silent = true;
    //移除报错提示
    let app = new Vue({
        el: "#app",
        data: {
            msg: "Animal,World",
            animal: ["萨摩", "哈士奇", "拉布拉多"],
            url: "img/cat.jpg",
            show: true,
        },
        methods: {
            add() {
                if (!this.animal.includes('牧羊犬')) {
                    this.animal.push("牧羊犬")
                }
            },
            hide() {
                this.show ? this.show = false : this.show = true
            }
        }
    });
</script>
</html>
