<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选项</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <p>new-num：{{num}}</p>
    <p>old-num：{{old_a}}</p>
    <input type="text" v-model="num">
    <br>
    <button @click="add">add</button>
    <p>num*4：{{count}}</p>
    <p>{{msg|change}}</p>
    <input type="text" v-model="msg">
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            num: 1,
            old_a: "",
            msg: "hello,world"
        },
        methods: {
            add: function () {
                this.num++
            }
        },
        watch: {
            num(new_a, old_a) {
                this.old_a = old_a
            }
        },
        filters: {
            change: function (val) {
                return val.toUpperCase()
            }
        },
        computed: {
            count: function () {
                return this.num * 4
            }
        }
    })
    //    computed 计算
    //    filters  过滤
    //    watch    监听
    //    methods  方法
</script>
</html>
